<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
	<style>
body {
    background-color: lightblue;
    padding-top: 10%;
    text-align: center;
}

h1 {
    color: white;
    font-size:300%;
   
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>

    </head>
    <body>
        <h1>Welcome!</h1>

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
    </body>
</html>
